@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax"><img src="https://www.baguete.com.br/cache/image/noticias/2015/09/1441201228_Impacta.jpg?w=1110"></div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">Seja bem-vindo a Biblioteca Impacta</h2>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://pbs.twimg.com/profile_images/926490279749783552/jKFTBcvm.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="https://images.maisbolsas.com.br/content/superior/instituicao/logo/g/faculdade-impacta.png"></a>
            <a class="carousel-item" href="#two!"><img src="https://assets.change.org/photos/5/uh/ib/iPUHIBKBOaPAXFL-800x450-noPad.jpg?1527831843"></a>
            
        </div>        
    </div>
</div>




<div class="parallax-container">
    <div class="parallax"><img src="https://www.baguete.com.br/cache/image/noticias/2015/09/1441201228_Impacta.jpg?w=1110"></div>
</div>